[user]
	email = aaron@aaronmcadam.com
	name = Aaron McAdam
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
  colorMoved = default
  external = difft
[difftool]
	prompt = false
[merge]
  conflictstyle = diff3
[mergetool]
	prompt = false
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
  postBuffer = 52428800
