[user]
	email = aaron@aaronmcadam.com
	name = Aaron McAdam
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
  colorMoved = default
[difftool]
	prompt = false
[merge]
  conflictstyle = diff3
[mergetool]
	prompt = false
[core]
	pager = delta
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true
[interactive]
  diffFilter = delta --color-only
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[init]
	defaultBranch = main
