layout {
  tab name="work" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="dotfiles" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
