layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  pane_template name="nvim" {
    command "nvim"
  }

  tab name="pkm" focus=true cwd="~/Documents/Remote Second Brain/"{
    nvim
  }

  tab name="dotfiles" cwd="~/dotfiles" {
    nvim
  }

  tab name="portal-cms" cwd="~/Developer/work/bp-portal-cms/" {
    nvim
  }

  tab name="portal-web" cwd="~/Developer/work/bp-platform-web/" {
    nvim
  }
}
