layout {
  default_tab_template {
    children
  }

  pane_template name="nvim" {
    command "nvim"
  }

  tab name="pkm" focus=true cwd="~/Documents/Remote Second Brain/"{
    nvim
  }

  tab name="dotfiles" cwd="~/dotfiles" {
    nvim
  }

  tab name="dev" cwd="~/Developer/work/bp-portal-cms/" {
    nvim
  }
}
