theme "catppuccin-mocha"

// Keybindings inspired by https://github.com/zellij-org/zellij/blob/main/example/alt-centered-config.kdl
// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"

keybinds clear-defaults=true {
  normal {
    bind "Alt q" { Quit; }
    bind "Alt d" { Detach; }
    bind "Alt f" { ToggleFocusFullscreen; }
    bind "Alt e" { EditScrollback; SwitchToMode "normal"; }
    bind "Alt p" { SwitchToMode "pane"; }
    bind "Alt r" { SwitchToMode "resize"; }
    bind "Alt t" { SwitchToMode "tab"; }
    bind "Alt s" { SwitchToMode "scroll"; }
    bind "Alt m" { SwitchToMode "move"; }
    bind "Alt n" { NewPane; }
    bind "Alt h" { MoveFocusOrTab "Left"; }
    bind "Alt l" { MoveFocusOrTab "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt H" { MovePane "Left"; }
    bind "Alt L" { MovePane "Right"; }
    bind "Alt J" { MovePane "Down"; }
    bind "Alt K" { MovePane "Up"; }
    bind "Alt w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
    bind "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt Right" { GoToNextTab; }
    bind "Alt Left" { GoToPreviousTab; }
    bind "Alt 1" { GoToTab 1; SwitchToMode "Normal"; }
    bind "Alt 2" { GoToTab 2; SwitchToMode "Normal"; }
    bind "Alt 3" { GoToTab 3; SwitchToMode "Normal"; }
    bind "Alt 4" { GoToTab 4; SwitchToMode "Normal"; }
    bind "Alt 5" { GoToTab 5; SwitchToMode "Normal"; }
    bind "Alt 6" { GoToTab 6; SwitchToMode "Normal"; }
    bind "Alt 7" { GoToTab 7; SwitchToMode "Normal"; }
    bind "Alt 8" { GoToTab 8; SwitchToMode "Normal"; }
    bind "Alt 9" { GoToTab 9; SwitchToMode "Normal"; }
  }

   pane {
     bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
     bind "h" "Left" { NewPane "Left"; }
     bind "l" "Right" { NewPane "Right"; }
     bind "j" "Down" { NewPane "Down"; }
     bind "k" "Up" { NewPane "Up"; }
     bind "Alt h" "Left" { MoveFocus "Left"; }
     bind "Alt l" "Right" { MoveFocus "Right"; }
     bind "Alt j" "Down" { MoveFocus "Down"; }
     bind "Alt k" "Up" { MoveFocus "Up"; }
     bind "p" { SwitchFocus; }
     bind "n" { NewPane; }
     bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
     bind "x" { CloseFocus; }
     bind "f" { ToggleFocusFullscreen; }
     bind "z" { TogglePaneFrames; }
  }

  tab {
    bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
    bind "h" "Left" { GoToPreviousTab; }
    bind "l" "Right" { GoToNextTab; }
    bind "n" { NewTab; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "x" { CloseTab; }
    bind "s" { ToggleActiveSyncTab; }
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "1" { GoToTab 1; SwitchToMode "Normal"; }
    bind "2" { GoToTab 2; SwitchToMode "Normal"; }
    bind "3" { GoToTab 3; SwitchToMode "Normal"; }
    bind "4" { GoToTab 4; SwitchToMode "Normal"; }
    bind "5" { GoToTab 5; SwitchToMode "Normal"; }
    bind "6" { GoToTab 6; SwitchToMode "Normal"; }
    bind "7" { GoToTab 7; SwitchToMode "Normal"; }
    bind "8" { GoToTab 8; SwitchToMode "Normal"; }
    bind "9" { GoToTab 9; SwitchToMode "Normal"; }
    bind "Tab" { ToggleTab; }
  }

  renametab {
    bind "Alt c" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
  }

  resize {
    bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
    bind "h" "Left" { Resize "Left"; }
    bind "j" "Down" { Resize "Down"; }
    bind "k" "Up" { Resize "Up"; }
    bind "l" "Right" { Resize "Right"; }
    bind "Alt =" { Resize "Increase"; }
    bind "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt n" { NewPane; }
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
  }

  move {
    bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
    bind "h" "Left" { MovePane "Left"; }
    bind "j" "Down" { MovePane "Down"; }
    bind "k" "Up" { MovePane "Up"; }
    bind "l" "Right" { MovePane "Right"; }
    bind "Alt n" { NewPane; }
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
  }

  scroll {
    bind "e" { EditScrollback; SwitchToMode "normal"; }
    bind "Enter" "Esc" { SwitchToMode "normal"; }
    bind "Alt c" { ScrollToBottom; SwitchToMode "normal"; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Alt f" "PageDown" "Right" "l" { PageScrollDown; }
    bind "Alt b" "PageUp" "Left" "h" { PageScrollUp; }
    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
  }

  search {
    bind "Alt s" "Enter" "Esc" "Space" { SwitchToMode "normal"; }
    bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    bind "n" { Search "Down"; }
    bind "p" { Search "Up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
    bind "o" { SearchToggleOption "WholeWord"; }
    bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
  }

  entersearch {
    bind "Enter" { SwitchToMode "search"; }
    bind "Alt c" "Esc" { SearchInput 27; SwitchToMode "scroll"; }
    bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
  }

  shared_except "normal" "locked" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
  }
}
